<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Random quotes">
    <meta name="keywords" content="quotes, quotations, random quotes, quotes for life, quotes on age, quotes on amazing, quotes on alone, best quotes, motivational quotes">
    <meta name="author" content="Nandalala">
	<meta name="viewport" content="width=device-width, initial-sca
le=1.0">
	
	<title>Random Quotes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap
/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "icon" href = "{{ url_for('static',filename='index.jpeg') }}" 
        type = "image/x-icon">
</head>
<body>

<form action="/" method="post">
<center>
		<font face="purisa"  class="text text-success" size=5> Random Quotes </font>
</center>
{% if quote %}
<blockquote class="container">
<div class="well" style="background-color:{{ color }};">
<p><b>
<q><q><q>
	<font face="Karumbi" size=5>
	{{ quote }}
	</font>
</q></q></q>
</b></p>
{% if author != nan %}
	<div class="container">
	<small style="color:white;"><b><font size=2>{{ author }}</font></b></small>
	</div>
{% else %}
	<small style="color:white;"><b><font size=2>unknown</font></b></small>
{% endif %}
</div>
</blockquote>
<center>
<input class="btn btn-success" type="submit" value="Get Random Quote"/>

<a href="https://github.com/NaNdalal-dev/Backend-webapps/tree/main/random_quotes">
<img  src = "{{ url_for('static',filename='git.jpeg') }}"  width="30" height="30">
</a>
</center>
{% endif %}
</form>
</body>
</html>
